.main-carousel {
  position: relative;
  padding-right: 100px;
  padding-left: 100px;
}

/* barra acima do carousel */
.main-carousel::after {
  content: "";
  position: absolute;
  left: 40px;
  display: block;
  height: 7px;
  width: calc(100% - 80px);
  background-color: #000;
  top: 38px;
}
/* barra pontilhada das extremidades */
.main-carousel::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  border: 3px dashed black;
  width: 100%;
  top: 38px;
}

.main-carousel .button-arrow {
  position: absolute;
  bottom: 70px;
  transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
  left: 15px;
}

.main-carousel .button-arrow.-right {
  right: 15px;
}
