.main-subtitle {
  font-size: 30px;
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 4px 4px 0 #000;
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .main-subtitle {
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 526px) {
  .main-subtitle {
    font-size: 10px;
  }
}
