.main-title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 40px;
  color: #960f14;
  text-shadow: 5px 5px 0px #000000;
}

/* ========================================
   Estou procurando um elemento no
   HTML que ao mesmo tempo tem a classe
   .title e a classe .-second(a idéia de
   colocar o (-) é identificar rapidamente
   que é uma classe de variação de um componente
   ========================================= 
*/
.main-title.-second {
  color: #fff;
  text-shadow: none;
  text-align: center;
}
