.main-carousel {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-right: 85px;
  padding-left: 85px;
  overflow: hidden;
}

/* barra acima do carousel */
.main-carousel::after {
  content: "";
  position: absolute;
  left: 40px;
  display: block;
  height: 7px;
  width: calc(100% - 80px);
  background-color: #000;
  top: 38px;
}
/* barra pontilhada das extremidades */
.main-carousel::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  border: 3px dashed black;
  width: 100%;
  top: 38px;
}

.main-carousel .button-arrow {
  position: absolute;
  bottom: 70px;
  transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
  left: 15px;
}

.main-carousel .button-arrow.-right {
  right: 15px;
}

.main-carousel .items {
  width: 100%;
  overflow: hidden;
}

.main-carousel .elements {
  display: flex;
  justify-content: space-evenly;

  transition: transform 120ms ease-in-out;
  /* overflow: hidden; */
}

/* Responsive */
@media (min-width: 320px) and (max-width: 526px) {
  .main-carousel {
    padding-right: 45px;
    padding-left: 45px;
  }

  .main-carousel .button-arrow {
  }
}
