.wrapper-skill {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.wrapper-skill .skill-tec {
  width: 430px;
  margin-bottom: 40px;
}

/* 
    Pega o filhos de .skill-tec impares.
    Se eu quisesse os pares seria (even) */
.wrapper-skill .skill-tec:nth-child(odd) {
  margin-right: 100px;
}

.wrapper-skill .progress-bar {
  width: 320px;
}

@media (max-width: 767px) {
  .wrapper-skill {
    display: grid;
  }
}

@media (min-width: 320px) and (max-width: 526px) {
  .wrapper-skill .skill-tec {
    margin: 0;
    justify-content: center;
    padding-bottom: 20px;

    /* gap: 10px; */
  }

  .wrapper-skill .skill-tec:nth-child(odd) {
    margin: 0;
    justify-content: center;
    padding-bottom: 20px;
  }

  .wrapper-skill .progress-bar {
    width: 250px;
  }
}
